// CHOOSE :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


.about
  .container  

    h2.about__head-text.wow.wowFadeUp(data-animation-delay="0.4s")!= "Девелоперское подразделение"
    p.about__text.wow.wowFadeUp(data-animation-delay="0.5s")!= "Компания «Стройальянс» в полной мере способна выполнить функции генерального подрядчика и осуществить ведение всего строительства. ГК «Стройальянс» способна привлечь надежные организации в качестве субподрядчиков, исполнить в надлежащем качестве все предусмотренные договором работы по объекту недвижимости. Уже более 15-и лет компания выдерживает конкуренцию, благодаря своему накопленному опыту."
    p.about__sub-text.wow.wowFadeUp(data-animation-delay="0.6s")!= "В качестве девелоперского подразделения  ГК «Стройальянс» </br>предлагает следующие услуги:"

    .about__wrap
      .about__wrap-left
        .about__block.wow.wowFadeUp(data-animation-delay="0.65s" block-js)
          a.about__block-btn(href="#")
            img(src="./img/img-close-block.png" srcset="./img/img-close-block@2x.png 2x")
          p.about__block-title!= "Наемный девелопер"
          p.about__block-text!= "оформление правоустанавливающей и градостроительной документации, согласование архитектурной концепции, получение ГПЗУ"

        .about__block.wow.wowFadeUp(data-animation-delay="0.7s" block-js)
          a.about__block-btn(href="#")
            img(src="./img/img-close-block.png" srcset="./img/img-close-block@2x.png 2x")
          p.about__block-title!= "Управление проектом"
          p.about__block-text!= "оформление правоустанавливающей и градостроительной документации, согласование архитектурной концепции, получение ГПЗУ"

      .about__wrap-right
        .about__block.wow.wowFadeUp(data-animation-delay="0.65s" block-js)
          a.about__block-btn(href="#")
            img(src="./img/img-close-block.png" srcset="./img/img-close-block@2x.png 2x")
          p.about__block-title!= "Управление строительством"
          p.about__block-text!= "оформление правоустанавливающей и градостроительной документации, согласование архитектурной концепции, получение ГПЗУ"

        .about__block.wow.wowFadeUp(data-animation-delay="0.7s" block-js)
          a.about__block-btn(href="#")
            img(src="./img/img-close-block.png" srcset="./img/img-close-block@2x.png 2x")
          p.about__block-title!= "Представительство Заказчика"
          p.about__block-text!= "оформление правоустанавливающей и градостроительной документации, согласование архитектурной концепции, получение ГПЗУ"

    h2.about__head-text.is-orange.wow.wowFadeUp(data-animation-delay="0.4s")!= "Генеральный подрядчик"
    p.about__text.wow.wowFadeUp(data-animation-delay="0.5s")!= "Группа компаний «Стройальянс» выступает в роли Генерального подрядчика и берет на себя ответственность за результаты и качество исполнения работ перед заказчиком строительства. Наша компания гарантирует грамотное и профессиональное выполнение своей задачи, осуществляет строительство каждого объекта в соответствии с пожеланиями заказчика, соблюдая принцип индивидуального подхода."
    p.about__sub-text.wow.wowFadeUp(data-animation-delay="0.6s")!= "В качестве генерального подрядчика  ГК «Стройальянс» предлагает </br>следующие услуги:"

    .about__wrap
      .about__list.about__list--orange
        .about__list-left
          ul
            li.wow.wowFadeUp(data-animation-delay="0.65s")!= "Взаимодействие с генеральным проектировщиком по вопросам, контроля качества, внесения изменений;"
            li.wow.wowFadeUp(data-animation-delay="0.7s")!= "Обеспечение логистики строительной площадки;"
            li.wow.wowFadeUp(data-animation-delay="0.75s")!= "Выработка и соблюдение графика строительства, очередности производства работ;"
            li.wow.wowFadeUp(data-animation-delay="0.8s")!= "Обеспечение поставки необходимого оборудования;"
            li.wow.wowFadeUp(data-animation-delay="0.85s")!= "Подготовка рабочей и тендерной документации;"
            li.wow.wowFadeUp(data-animation-delay="0.9s")!= "Предоставление фронта работ, обеспечение взаимодействия между субподрядчиками;"

        .about__list-right
          ul
            li.wow.wowFadeUp(data-animation-delay="0.65s")!= "Обеспечение требуемого качества работ и сроков;"
            li.wow.wowFadeUp(data-animation-delay="0.7s")!= "Приемка выполненных работ. Финансирование производимых работ;"
            li.wow.wowFadeUp(data-animation-delay="0.75s")!= "Получение всей необходимой сдаточной документации (акты, съемки, сертификаты, паспорта, прочее);"
            li.wow.wowFadeUp(data-animation-delay="0.8s")!= "Мониторинг объемов выполненных работ, подписание актов выполненных работ;"
            li.wow.wowFadeUp(data-animation-delay="0.85s")!= "Подготовка исполнительной и сдаточной документации;"
            li.wow.wowFadeUp(data-animation-delay="0.9s")!= "Сдача объекта в эксплуатацию «под ключ», в том числе по отдельным этапам;"

    h2.about__head-text.is-purple.wow.wowFadeUp(data-animation-delay="0.4s")!= "Проектное бюро"
    p.about__text.wow.wowFadeUp(data-animation-delay="0.5s")!= "Группа компаний «Стройальянс» располагает собственным проектным отделом. Данное подразделение занимается разработками в области недвижимости в соответствии с современными тенденциями и стандартами качества."
    p.about__sub-text.wow.wowFadeUp(data-animation-delay="0.6s")!= "Проектное бюро ГК «Стройальянс» выполняет полный цикл </br>архитектурно-строительного проектирования, проектирования </br>инженерной инфраструктуры зданий и сооружений, а также работы по </br>подготовке проектной документации:"

    .about__wrap
      .about__list.about__list--purple
        .about__list-left
          ul
            li.wow.wowFadeUp(data-animation-delay="0.65s")!= "Получение, сбор, подготовка, разработка и оформление исходных данных для проектирования объектов строительства;"
            li.wow.wowFadeUp(data-animation-delay="0.7s")!= "Подготовка пакета исходно-разрешительной документации в соответствии с требованиями статей 44-51 Градостроительного кодекса РФ по результатам предпроектной проработки объекта и его размещения на земельном участке для получения разрешения на строительство;"
            li.wow.wowFadeUp(data-animation-delay="0.75s")!= "Комплексное проектирование многоквартирных жилых зданий, таунхаусов и коттеджей, включающее разработку генпланов, разделов АР, разработка и расчет всех типов конструктивов, разработка разделов внутренней инженерии;"
            li.wow.wowFadeUp(data-animation-delay="0.8s")!= "Комплексная разработка проектов инженерного обеспечения объектов: электроснабжение и освещение, автоматика, пожарно-охранная сигнализация, и т.д., - включая разработку и утверждение схем;"
        .about__list-right
          ul
            li.wow.wowFadeUp(data-animation-delay="0.65s")!= "Разработка специальных разделов проекта;"
            li.wow.wowFadeUp(data-animation-delay="0.7s")!= "Техническое сопровождение согласований и экспертизы проектов;"
            li.wow.wowFadeUp(data-animation-delay="0.75s")!= "Проектирование комплексного благоустройства территории;"
            li.wow.wowFadeUp(data-animation-delay="0.8s")!= "Ландшафтный дизайн;"
            li.wow.wowFadeUp(data-animation-delay="0.85s")!= "Авторский надзор."

    h2.about__head-text.is-blue.wow.wowFadeUp(data-animation-delay="0.4s")!= "Технический заказчик"
    p.about__text.wow.wowFadeUp(data-animation-delay="0.5s")!= "Компания «Стройальянс» выполняет функции технического заказчика. Сегодня технический заказчик играет ключевую роль в процессе строительства, и наша компания является профессиональным исполнителем в подготовке разрешений и согласований в порядке прохождения различных государственных органов. ГК «Стройальянс» также выступает в качестве надежного партнера, который способен решить многие вопросы и наладить эффективное взаимодействие, контролируя качество и сроки строительства."
    p.about__sub-text.wow.wowFadeUp(data-animation-delay="0.6s")!= "В качестве технического заказчика ГК «Стройальянс» предлагает </br>следующие услуги:"

    .about__wrap
      .about__wrap-left
        .about__block.wow.wowFadeUp(data-animation-delay="0.65s")(block-js)
          a.about__block-btn(href="#")
            img(src="./img/img-close-block.png" srcset="./img/img-close-block@2x.png 2x")
          p.about__block-title!= "Оформление полного комплекса ИРД"
          p.about__block-text!= "оформление правоустанавливающей и градостроительной документации, согласование архитектурной концепции, получение ГПЗУ"

        .about__block.wow.wowFadeUp(data-animation-delay="0.7s")(block-js)
          a.about__block-btn(href="#")
            img(src="./img/img-close-block.png" srcset="./img/img-close-block@2x.png 2x")
          p.about__block-title!= "Управление проектом"
          p.about__block-text!= "оформление правоустанавливающей и градостроительной документации, согласование архитектурной концепции, получение ГПЗУ"

      .about__wrap-right
        .about__block.wow.wowFadeUp(data-animation-delay="0.65s")(block-js)
          a.about__block-btn(href="#")
            img(src="./img/img-close-block.png" srcset="./img/img-close-block@2x.png 2x")
          p.about__block-title!= "Наемный девелопер"
          p.about__block-text!= "оформление правоустанавливающей и градостроительной документации, согласование архитектурной концепции, получение ГПЗУ"

        .about__block.wow.wowFadeUp(data-animation-delay="0.7s")(block-js)
          a.about__block-btn(href="#")
            img(src="./img/img-close-block.png" srcset="./img/img-close-block@2x.png 2x")
          p.about__block-title!= "Служба заказчика в строительстве"
          p.about__block-text!= "оформление правоустанавливающей и градостроительной документации, согласование архитектурной концепции, получение ГПЗУ"


// CHOOSE :: END
