// BANNER :: START


//- VARIABLE
//- ==========
-
  var sliderLocationArr = [
    "<span>ЖК</span> <span>«Гринхаус»</span>",
    "<span>Петровский</span> <span>квартал</span>",
    "<span>ЖК на</span> <span>ул. Макаренко</span>",
    "<span>Luxury</span> <span>Village</span>"
  ];
//- ==========
//- MIXIN
//- ==========
mixin swapInfoStorerooms()
  div(class="banner__swap banner__swap--storerooms")
    div(swap-storerooms-js)
      -for(var i = 0; i < 5; i++)
        div(
          class="banner__swap-content"
        )
          p.banner__swap-title!= "Кладовые"
          .banner__swap-wrap
            p!= (i % 2 === 0) ? "от <span>5 500 000₽</span>" : "от <span>3 500 000₽</span>"
            p!= (i % 2 === 0) ? "от <span>16 000 000₽</span>" : "от <span>13 500 000₽</span>"
          a(href="#" class="banner__swap-btn" title="")!= "подробнее"
//- ==========


.banner
  .banner__gradient

  +carouselBg("storerooms", "carousel-storerooms-js", "storerooms")

  .container.container--slider
    +sliderLocation("storerooms", "slider-storerooms-js", sliderLocationArr)

  .container.container--swap
    +swapInfoStorerooms()

  include ../macros/_mouse


// BANNER :: END
