// BANNER :: START


//- VARIABLE
//- ==========
-
  var sliderLocationArr = [
    "<span>ЖК</span> <span>«Гринхаус»</span>",
    "<span>ЖК на</span> <span>ул. Макаренко</span>",
    "<span>Luxury</span> <span>Village</span>",
    "<span>Петровский</span> <span>квартал</span>"
  ];
//- ==========
//- MIXIN
//- ==========
mixin swapInfoApartment()
  div(class="banner__swap banner__swap--apartment")
    div(swap-apartment-js)
      -for(var i = 0; i < 5; i++)
        div(
          class="banner__swap-content"
        )
          p.banner__swap-title!= "Квартиры"
            .banner__swap-wrap
              p!= (i % 2 === 0) ? "2 комн. <span>от 5 500 000₽</span>":"1 комн. <span>от 2 500 000₽</span>"
              p!= (i % 2 === 0) ? "5 комн. <span>от 16 000 000₽</span>":"3 комн. <span>от 11 000 000₽</span>"
          a(href="#" class="banner__swap-btn" title="")!= "подобрать квартиру"
//- ==========


.banner
  .banner__gradient

  +carouselBg("apartment", "carousel-apartment-js", "apartment")

  .container.container--slider.wow.wowFadeLeft(data-animation-delay="0.4s")
    +sliderLocation("apartment", "slider-apartment-js", sliderLocationArr)

  .container.container--swap.wow.wowFadeRight(data-animation-delay="0.6s")
    +swapInfoApartment()

  include ../macros/_mouse


// BANNER :: END
