// DESCRIPTION :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


#description.description

  .description__block.description__block-0.description__block--reverse
    .description__block-image.wow.wowFadeRight(data-animation-delay="0.5s")
      img(
        src="./img/img-0__description.jpg"
        srcset="./img/img-0__description@2x.jpg 2x"
        objectFit-js
      )
    .container
      .description__block-wrap
        .description__block-info.wow.wowFadeLeft(data-animation-delay="0.5s")
          p!= "Свой пляж"
          p!= "Единственные в Туле новостройки с собственным благоустроенным пляжем. Каждый день вы можете наслаждаться всеми прелестями пляжного отдыха и для этого не надо лететь на море. Достаточно выйти из своей квартиры в шлепанцах и сухих плавках, а вечером вернуться загорелым и уже с мокрыми плавками. Речной песок, чистая вода, благоустроенная зона отдыха, пляжный волейбол и множество других развлечений в двух шагах от вашей квартиры. Все это Вам дает Петровский квартал."


  .description__block.description__block-1.description__block--normal
    .description__block-image.wow.wowFadeLeft(data-animation-delay="0.5s")
      img(
        src="./img/img-1__description.jpg"
        srcset="./img/img-1__description@2x.jpg 2x"
        objectFit-js
      )
    .container
      .description__block-wrap
        .description__block-info.wow.wowFadeRight(data-animation-delay="0.5s")
          p!= "Прогулки в парке"
          p!= "Живописная зелень парка открывает массу возможностей для спокойных прогулок и активного отдыха на свежем воздухе. Территория парка станет единым пространством для отдыха, разделенным на функциональные зоны: современные детские игровые и спортивные площадки, скверы с беседками и объектами ландшафтного дизайна."


  .description__block.description__block-2.description__block--reverse
    .description__block-image.wow.wowFadeRight(data-animation-delay="0.5s")
      img(
        src="./img/img-2__description.jpg"
        srcset="./img/img-2__description@2x.jpg 2x"
        objectFit-js
      )
    .container
      .description__block-wrap
        .description__block-info.wow.wowFadeLeft(data-animation-delay="0.5s")
          p!= "Детский сад с бассейном"
          p!= "Ваш ребенок, начиная с малых лет будет развиваться здоровым и счастливым в Петровском Квартале! А Вы будете спокойны и за его безопасность, и за его здоровье. Уже сейчас силами застройщика активно строится собственный детский сад с бассейном на 110 малышей в Петровском Квартале. Первые дети смогут его посетить уже в 2018 году."


// DESCRIPTION :: END
