// GALLERY :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========
mixin swapImage()
  .gallery__swap-wrap(style="width:170px;")
    img(src="./img/img-gallery-0.jpg" srcset="./img/img-gallery-0@2x.jpg 2x" class="gallery__swap-img" title="")
  .gallery__swap-wrap(style="width:170px;")
    img(src="./img/img-gallery-1.jpg" srcset="./img/img-gallery-1@2x.jpg 2x" class="gallery__swap-img" title="")
  .gallery__swap-wrap(style="width:170px;")
    img(src="./img/img-gallery-2.jpg" srcset="./img/img-gallery-2@2x.jpg 2x" class="gallery__swap-img" title="")
  .gallery__swap-wrap(style="width:170px;")
    img(src="./img/img-gallery-3.jpg" srcset="./img/img-gallery-3@2x.jpg 2x" class="gallery__swap-img" title="")
  .gallery__swap-wrap(style="width:170px;")
    img(src="./img/img-gallery-4.jpg" srcset="./img/img-gallery-4@2x.jpg 2x" class="gallery__swap-img" title="")
//- ==========


.gallery

  h3.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Ход строительства"

  .container
    .gallery__row
      p!= "19 декабря 2017г."
      p!= "23 фотографии"

      .gallery__wrap
        .gallery__slider.gallery__slider-0(slider-0-js)
          -for(var i = 0; i < 15; i++)
            .gallery__slider-wrap
              img(src="./img/img-gallery.png" srcset="./img/img-gallery@2x.png 2x" class="gallery__slider-img" title="")

        .gallery__swap.gallery__swap-0(swap-0-js)
          +swapImage()
          +swapImage()
          +swapImage()

    .gallery__row
      p!= "15 декабря 2017г."
      p!= "78 фотографий, 2 видео"

      .gallery__wrap
        .gallery__slider.gallery__slider-1(slider-1-js)
          -for(var i = 0; i < 15; i++)
            .gallery__slider-wrap
              img(src="./img/img-gallery.png" srcset="./img/img-gallery@2x.png 2x" class="gallery__slider-img" title="")

        .gallery__swap.gallery__swap-1(swap-1-js)
          +swapImage()
          +swapImage()
          +swapImage()

    .gallery__row
      p!= "1 декабря 2017г."
      p!= "277 фотографий"

      .gallery__wrap
        .gallery__slider.gallery__slider-2(slider-2-js)
          -for(var i = 0; i < 15; i++)
            .gallery__slider-wrap
              img(src="./img/img-gallery.png" srcset="./img/img-gallery@2x.png 2x" class="gallery__slider-img" title="")

        .gallery__swap.gallery__swap-2(swap-2-js)
          +swapImage()
          +swapImage()
          +swapImage()


// GALLERY :: END
