// GALLERY :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


.gallery

  h3.main__title!= "Ход строительства"

  .container
    .gallery__row
      p!= "19 декабря 2017г."
      p!= "23 фотографии"

    .gallery__row
      p!= "15 декабря 2017г."
      p!= "78 фотографий, 2 видео"

    .gallery__row
      p!= "1 декабря 2017г."
      p!= "277 фотографий"


// GALLERY :: END
