// HEADER :: START


header.header
  .header--cover.wow.wowFadeDown
    .container
      .header__wrapper

        .header__container
          .header__row.header__row-0.wow.wowFadeDown
            img(
              src="./img/logotype.svg"
              class="header_logo svg"
              alt=""
              title=""
              )

          .header__row.header__row-1
            include ../macros/_menu


        .header__container
          .header__row.header__row-2.wow.wowFadeDown
            include ../macros/_dropdown

          .header__row.header__row-3.wow.wowFadeDown
            a(href="tel:4872702524" class="header__phone" title="")!= "(4872) 70-25-24"

            .header__hamburger
              .hamburger.hamburger--squeeze(js-hamburger-open)
                .hamburger-box
                  .hamburger-inner

  .container

    if(bodyClass === "homepage" || bodyClass === "flat" || bodyClass === "quarter" || bodyClass === "house" || bodyClass === "media")
      +tabComponent(0)
    else if (bodyClass === "commercial" || bodyClass === "realty")
      +tabComponent(1)
    else if (bodyClass === "storerooms" || bodyClass === "pantry")
      +tabComponent(2)
    else if (bodyClass === "earth")
      +tabComponent(3)
    else if (bodyClass === "parking" || bodyClass === "car")
      +tabComponent(4)
    else
      +tabComponent("")


// HEADER :: END
