// INFO :: START


//- VARIABLE
//- ==========

//- ==========
//- MIXIN
//- ==========

//- ==========


.info
  .container

    .info__row(info-slide-js)
      -for(var i = 0; i < 5; i++)
        .info__wrap

          .info__block.info__block-0(data-mfp-src="#callback" js-popup)
            .info__block-left
              p!= "Готовые квартиры с отделкой"
              span!= "акция продлится до 15.07.18г"
            .info__block-right(style="background-image: url('./img/img-0__info.png');")


          .info__block.info__block-1(data-mfp-src="#callback" js-popup)
            .info__block-left
              p!= "Ипотека без первоначального взноса"
              span!= "акция продлится до 15.07.18г"
            .info__block-right
              span!= "0"
              span!= "%"


          .info__block.info__block-2(data-mfp-src="#callback" js-popup)
            .info__block-left
              p!= "Начало строительства"
              span!= "акция продлится до 15.07.18г"
            .info__block-right
              img(
                src="./img/img-2__info.png"
                srcset="./img/img-2__info@2x.png 2x"
              )


          .info__block.info__block-3(data-mfp-src="#callback" js-popup)
            .info__block-left
              p!= "Старт</br>продаж"
              span!= "акция продлится до 15.07.18г"
            .info__block-right(style="background-image: url('./img/img-3__info.png');")


// INFO :: END
