// MAIN :: START


#main.main
  .container
    .main__wrapper

      h1.wow.wowFadeUp(data-animation-delay="0.1s")!= "Стройальянс"
      p.wow.wowFadeUp(data-animation-delay="0.2s")!= "Группа строительных компаний «Стройальянс» - объединяет в себе коллектив профессионалов с большим опытом строительства различных зданий с применением инновационных технологий, современных материалов и технического оснащения, что дает нам возможность в отличие от большинства других строительных фирм, предлагать действительно комплексный подход к возведению объектов. Этот подход позволяет реализовывать практически любые проекты – осуществлять жилищное строительство, строительство торговых центров, административных зданий."


      .main__container
        .main__row.main__row-0.wow.wowFadeLeft(data-animation-delay="0.6s")
          h4
            span!= "15"
            span!= "лет"

          p!= "на рынке строительства</br>и недвижимости"

        .main__row.main__row-1.wow.wowFadeLeft(data-animation-delay="0.5s")
          h4
            span!= "700"
            span!= "тыс."
            span!= "м<sup>2</sup>"

          p!= "портфель реализованных</br>проектов"

        .main__row.main__row-2.wow.wowFadeLeft(data-animation-delay="0.4s")
          h4
            span!= "65"
            span!= "тыс."
            span!= "м<sup>2</sup>"

          p!= "введено в эксплуатацию</br>в 2016 году"

        .main__row.main__row-3.wow.wowFadeLeft(data-animation-delay="0.3s")
          h4
            span!= "40"
            span!= "проектов"

          p!= "реализовано</br>за все время"


// MAIN :: END
