// MODAL :: START


#callback.modal.mfp-hide.animated
  .modal__body
    .modal__left
      p.modal__title!= "Готовые квартиры с отделкой"
      p.modal__subtitle!= "АКЦИЯ ПРОДЛИТСЯ ДО 15.07.18Г"
      p.modal__text!= "Предложены квартиры двух видов: с базовой отделкой и с новым форматом отделки, который включает оклейку стен обоями на флизелиновой основе под покраску, напольное покрытие из ламината с фактурой дерева."

      form(modal-form-js)
        .form__field
          input(type="name" name="name" class="form__input modal__form-input" placeholder="Ваше имя")

        .form__field
          input(type="tel" name="phone" class="form__input modal__form-input")

        button(type="submit" class="form__button modal__form-btn")!= "ЗАКАЗАТЬ ЗВОНОК"

    .modal__right
      img(
        src="./img/img-bg__modal.png"
        title=""
      )



// MODAL :: END
